@model change_management.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@{
    Layout = "";
}

<h2>@ViewData["Title"]</h2>

<label for="userId">User Id:</label>

<form asp-controller="User" asp-action="userLogIn" >
    <div>
        <label for="userId">User Id:</label>
        <input asp-for="@Model.userId"  type="text" name="userId" value="" />
    </div>
    <button type="submit">Login</button>
</form>